<% if @rods.any? %>
    <%# TODO %>
<% elsif true # TEMP %>
    <p class="italic text-gray-300 text-center text-xs">Coming soon...</p>
<% else %>
    <p class="italic text-gray-300 text-center text-xs">No data here...</p>
<% end %>