<p class="text-gray-400 mb-5">
  Request new player 
  <span class="relative ml-2 group cursor-help">
    <span class="inline-flex flex-row text-xxs text-gray-300">
      How does this work
      <svg class="ml-1 h-[10px] fill-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm169.8-90.7c7.9-22.3 29.1-37.3 52.8-37.3l58.3 0c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24l0-13.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1l-58.3 0c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/>
      </svg>
    </span>
    <span class="absolute left-1/2 top-full mt-2 w-64 -translate-x-1/2 rounded-lg bg-gray-900 px-3 py-2 text-xxs text-white shadow-md opacity-0 pointer-events-none transition-opacity duration-300 group-hover:opacity-100">
      <%= image_tag("/images/player_id_screenshot.png", class: "mt-1 mb-2") %>
      To copy your player ID from the game, click on the icon circled in red in the image
    </span>
  </span>
</p>

<div data-controller="players">
  <%= form_for :player, url: request_players_path, method: :post do |f| %>
    <div class="flex w-full max-w-xl">
      <%= 
        f.text_field :requested_id, 
        class: "bg-white border border-gray-200 rounded-tl-lg rounded-bl-lg shadow-xs w-full text-xs p-3 placeholder:italic placeholder:text-gray-400 focus:border-blue-200 focus:ring-0",
        placeholder: "Enter requested player ID...",
        data: { players_target: :requestPlayerInput } 
      %>

      <button 
        type="Submit"
        class="bg-blue-400 hover:bg-blue-500 text-white text-xs px-4 rounded-r-lg transition-all duration-200 opacity-50 cursor-not-allowed"
        disabled
        data-players-target="requestSubmit"
      >
        <svg class="fill-white h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
          <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
        </svg>
      </button>
    </div>
    
    <span data-players-target="requestValueMessage" class="text-xxs transition-opacity duration-200"></span>
  <% end %>
</div>