@font-face {
	font-family: 'DogicaPixel';
	src: url('fonts/dogicapixel.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'DogicaPixel', sans-serif;
}

/* tailwind extends not working - need to find a solution */

.text-xxs {
	font-size: 0.4rem;
}

.text-xs {
	font-size: 0.6rem;
}
