<% if @fish.any? %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @fish.each do |fish| %>
      <%= render UI::ItemCardComponent.new(**item_card_fish_attributes(fish)) %>
    <% end %>
  </div>
<% else %>
  <p class="italic text-gray-300 text-center text-xs">No data here...</p>
<% end %>